/*---------------------------------------------------------------------------------------------
*
*	Flexible Content
*	
*---------------------------------------------------------------------------------------------*/
.fields-fc-meta {
  margin: 0 0 10px;
  padding: 0;
}
.fields-fc-meta li {
  margin: 0 0 10px;
  padding: 0;
}
.fields-fc-meta .fields-fc-meta-key {
  display: none;
}
.fields-fc-meta .fields-fc-meta-display,
.fields-fc-meta .fields-fc-meta-min {
  float: left;
  width: 33%;
  padding-right: 10px;
}
.fields-input-wrap.select {
  border-radius: 0 3px 3px 0 !important;
  border: #DFDFDF solid 1px;
}
.fields-input-wrap.select select {
  margin: 0;
  border: 0 none;
  padding: 3px;
  height: 26px;
}
.fields-fc-meta-label .fields-input-prepend,
.fields-fc-meta-name .fields-input-prepend,
.fields-fc-meta-display .fields-input-prepend {
  min-width: 45px;
}
.fields-fl-actions {
  visibility: hidden;
}
.fields-field:hover .fields-fl-actions {
  visibility: visible;
}
.fields-fl-actions a {
  display: block;
  line-height: 20px;
  padding: 1px 0;
  font-size: 13px;
}
.fields-fl-actions a.ui-sortable-handle {
  cursor: move;
}
