/*---------------------------------------------------------------------------------------------
*
*  Repeater
*
*---------------------------------------------------------------------------------------------*/
.fields-repeater .fields-row.fields-clone {
  display: none !important;
}
.fields-repeater > table {
  margin: 0 0 8px;
  background: #F9F9F9;
}
.fields-repeater > table td.remove .fields-icon {
  position: relative;
  margin-left: -2px;
  margin-right: -2px;
}
.fields-repeater > table td.remove .fields-repeater-add-row {
  position: absolute;
  margin-top: -22px;
}
/* sortable */
.fields-repeater > table > tbody > tr.ui-sortable-helper {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.fields-repeater > table > tbody > tr.ui-sortable-placeholder {
  visibility: visible !important;
}
.fields-repeater > table > tbody > tr.ui-sortable-placeholder td {
  background: #F9F9F9;
}
/* layouts */
.fields-repeater.-row > table > tbody > tr > td,
.fields-repeater.-block > table > tbody > tr > td {
  border-top-color: #E1E1E1;
}
/* empty */
.fields-repeater.-empty > table {
  border-bottom: 0 none;
}
.fields-repeater.-empty.-row > table,
.fields-repeater.-empty.-block > table {
  display: none;
}
/* order */
.fields-repeater > table > thead > tr > th.order,
.fields-repeater > table > tbody > tr > td.order {
  width: 16px;
  text-align: center;
  vertical-align: middle;
}
.fields-repeater > table > tbody > tr > td.order {
  border-right-color: #E1E1E1;
  background: #f4f4f4;
  cursor: move;
  color: #aaa;
  text-shadow: #fff 0 1px 0;
}
.fields-repeater > table > tbody > tr > td.order:hover {
  color: #666;
}
.fields-repeater > table > tbody > tr > td.order + td {
  border-left-color: #DFDFDF;
}
/* remove */
.fields-repeater > table > thead > tr > th.remove,
.fields-repeater > table > tbody > tr > td.remove {
  width: 16px;
  vertical-align: middle;
}
.fields-repeater > table > tbody > tr > td.remove {
  background: #F9F9F9;
  border-left-color: #DFDFDF;
}
/* remove buttons */
.fields-repeater > table td.remove .fields-icon {
  -webkit-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
  -moz-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
  -o-transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
  transition: opacity 0.25s 0s ease-in-out, visibility 0s linear 0.25s;
  visibility: hidden;
  opacity: 0;
}
.fields-repeater > table tr:hover td.remove .fields-icon {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}
/* spacers to fix width bug */
.fields-repeater > table th.order .order-spacer,
.fields-repeater > table th.remove .remove-spacer {
  width: 16px;
  display: block;
  height: 1px;
}
/*---------------------------------------------------------------------------------------------
*
*  Flexible Content
*
*---------------------------------------------------------------------------------------------*/
.fields-flexible-content {
  position: relative;
}
.fields-flexible-content > .no-value-message {
  padding: 19px;
  border: #ccc dashed 2px;
  text-align: center;
}
.fields-flexible-content > .clones {
  display: none;
}
.fields-flexible-content > .values {
  margin: 0 0 8px;
}
.fields-flexible-content .layout {
  position: relative;
  margin: 20px 0;
  background: #fff;
  border: 1px solid #e1e1e1;
}
.fields-flexible-content .layout:first-child {
  margin-top: 0;
}
.fields-flexible-content .layout:last-child {
  margin-bottom: 0;
}
.fields-flexible-content .layout .fields-fc-layout-handle {
  display: block;
  position: relative;
  padding: 8px 10px;
  cursor: move;
  border-bottom: #E1E1E1 solid 1px;
  color: #333333;
  font-size: 14px;
  line-height: 1.4em;
}
.fields-flexible-content .layout .fc-layout-order {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  margin: 0 5px 0 0;
  background: #F1F1F1;
  float: left;
  font-size: 12px;
  color: #666;
}
/* controlls*/
.fields-flexible-content .layout .fields-fc-layout-controlls {
  position: absolute;
  top: 9px;
  right: 9px;
}
.fields-flexible-content .layout .fields-fc-layout-controlls > li {
  margin: 0 0 0 5px;
}
.fields-flexible-content .layout .fields-fc-show-on-hover {
  display: none;
}
.fields-flexible-content .layout:hover .fields-fc-show-on-hover,
.fields-flexible-content .layout.popup-open .fields-fc-show-on-hover {
  display: block;
}
.fields-flexible-content .layout .fields-fc-show-on-open {
  display: block;
}
.fields-flexible-content .layout .fields-fc-show-on-close {
  display: none;
}
.fields-fc-layout-controlls .fields-icon-arrow-up,
.fields-fc-layout-controlls .fields-icon-arrow-down {
  color: #A0A5AA;
  cursor: pointer;
}
.fields-fc-layout-controlls .fields-icon-arrow-up:hover,
.fields-fc-layout-controlls .fields-icon-arrow-down:hover {
  color: #777777;
}
.fields-flexible-content > .values > .ui-sortable-placeholder {
  visibility: visible !important;
  border: #ccc dashed 2px;
  box-shadow: none;
  background: transparent;
}
/* closed */
.fields-flexible-content .layout.closed .fields-fc-show-on-close {
  display: block;
}
.fields-flexible-content .layout.closed .fields-fc-show-on-open {
  display: none;
}
.fields-flexible-content .layout.closed .fields-fc-layout-handle {
  border-bottom-width: 0;
}
.fields-flexible-content .layout.closed > .fields-fields,
.fields-flexible-content .layout.closed > .fields-table {
  display: none;
}
/* table */
.fields-flexible-content .layout > .fields-table {
  border: 0 none;
  box-shadow: none;
}
.fields-flexible-content .layout > .fields-table > tbody > tr {
  background: #fff;
}
.fields-flexible-content .layout > .fields-table > thead > tr > th {
  background: #F9F9F9;
}
/* popup */
.fields-fc-popup {
  position: absolute;
  border-radius: 3px;
  background: #333739;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  min-width: 135px;
  z-index: 9999;
}
.fields-fc-popup .bit {
  position: absolute;
  left: 50%;
  margin: 0 0 0 -10px;
  width: 0;
  height: 0;
  border: transparent solid 10px;
  border-top-color: #333739;
  z-index: 2;
}
.fields-fc-popup .bit.top {
  top: 0;
  margin-top: -20px;
  border: transparent solid 10px;
  border-bottom-color: #333739;
}
.fields-fc-popup ul,
.fields-fc-popup ul li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.fields-fc-popup ul li {
  position: relative;
  float: none;
  border-top: #2B2F31 solid 1px;
}
.fields-fc-popup ul li:first-child {
  margin: 0;
  border-top: 0 none;
}
.fields-fc-popup ul li a {
  color: #F9F9F9;
  font-size: 12px;
  line-height: 14px;
  padding: 6px 8px;
  display: block;
  text-decoration: none;
  position: relative;
}
.fields-fc-popup ul li a:hover {
  color: #fff;
  background: #288FBC;
  text-shadow: #1E698B 0 1px 0;
}
.fields-fc-popup ul li a .status {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 14px;
  width: 14px;
  border-radius: 8px;
  font-size: 8px;
  line-height: 15px;
  border: #288FBC solid 1px;
  text-align: center;
  color: #DFDFDF;
  display: none;
}
.fields-fc-popup ul li a .status.warning {
  border-color: #e86740;
}
.fields-fc-popup ul li a:hover .status {
  border-color: #fff;
  color: #fff;
}
.fields-fc-popup ul li:first-child a {
  border-radius: 3px 3px 0 0;
}
.fields-fc-popup ul li:last-child a {
  border-radius: 0 0 3px 3px;
}
.fields-fc-popup ul li:only-child a {
  border-radius: 3px;
}
.fields-flexible-content .flexible-footer {
  margin: 20px 0 0;
}
.fields-fc-popup a.focus {
  position: absolute;
  width: 0;
  height: 0;
  left: 100%;
  top: 0;
  opacity: 0;
}
/* rtl */
html[dir="rtl"] .fields-flexible-content .layout .fc-layout-order {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
html[dir="rtl"] .fields-flexible-content .layout .fields-fc-layout-controlls {
  right: auto;
  left: 9px;
}
/*---------------------------------------------------------------------------------------------
*
*  Galery
*
*---------------------------------------------------------------------------------------------*/
.fields-gallery {
  border: #DFDFDF solid 1px;
  height: 400px;
  position: relative;
}
.fields-gallery .fields-gallery-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 2;
}
.fields-gallery-attachments {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 45px;
  left: 0;
  padding: 5px;
  overflow: auto;
}
/* attachment */
.fields-gallery-attachment {
  width: 25%;
  float: left;
  cursor: pointer;
  position: relative;
  background: #fff;
}
.fields-gallery-attachment.ui-sortable-placeholder {
  visibility: visible !important;
  background: #F1F1F1;
}
.fields-gallery-attachment.ui-sortable-placeholder .margin {
  visibility: hidden !important;
}
.fields-gallery-attachment .margin {
  margin: 5px;
  border: #DFDFDF solid 1px;
  position: relative;
  overflow: hidden;
}
.fields-gallery-attachment.active .margin {
  box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 5px #1E8CBE;
}
.fields-gallery-attachment img {
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
.fields-gallery-attachment .filename {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
  background: #F4F4F4;
  border-top: #DFDFDF solid 1px;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  max-height: 90%;
  overflow: hidden;
}
.fields-gallery-attachment .actions {
  position: absolute;
  top: 0;
  right: 0;
}
.fields-gallery.sidebar-open .fields-gallery-attachment .actions {
  display: none;
}
/* icon */
.fields-gallery-attachment.is-mime-icon .margin:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.fields-gallery-attachment.is-mime-icon .thumbnail {
  position: absolute;
  top: 35%;
  left: 50%;
  max-width: 40%;
}
.fields-gallery-attachment.is-mime-icon .thumbnail img {
  margin: -50% 0 0 -50%;
}
/* toolbar */
.fields-gallery .fields-gallery-toolbar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 28px;
  padding: 10px;
  border-top: #DFDFDF solid 1px;
}
.fields-gallery .fields-gallery-toolbar .fields-hl li {
  line-height: 24px;
}
.fields-gallery .fields-gallery-side {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background: #F9F9F9;
  border-left: #DFDFDF solid 1px;
  z-index: 1;
  overflow: hidden;
}
.fields-gallery .fields-gallery-side-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 349px;
}
.fields-gallery .bulk-actions-select {
  width: auto;
  margin: 0 1px 0 0;
}
/* side info */
.fields-gallery .fields-gallery-side-info {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: -10px 0 15px -10px;
  background: #F1F1F1;
  border-bottom: #DFDFDF solid 1px;
}
.fields-gallery .fields-gallery-side-info img {
  float: left;
  width: auto;
  max-width: 65px;
  max-height: 65px;
  margin: 0 10px 1px 0;
  background: #FFFFFF;
  padding: 3px;
  border: #DFDFDF solid 1px;
  border-radius: 1px;
}
.fields-gallery .fields-gallery-side-info p {
  font-size: 13px;
  line-height: 15px;
  margin: 3px 0;
  color: #999999;
}
.fields-gallery .fields-gallery-side-info p strong {
  color: #000;
}
.fields-gallery .fields-gallery-side-info a {
  text-decoration: none;
}
.fields-gallery .fields-gallery-side-info a.edit-attachment {
  color: #21759b;
}
.fields-gallery .fields-gallery-side-info a.remove-attachment {
  color: #bc0b0b;
}
.fields-gallery .fields-gallery-side-info a:hover {
  text-decoration: underline;
}
/* side data */
.fields-gallery .fields-gallery-side-data {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 48px;
  left: 0;
  overflow: auto;
  overflow-x: inherit;
  padding: 10px;
}
.fields-gallery .fields-gallery-side-data .fields-label,
.fields-gallery .fields-gallery-side-data th.label {
  color: #666666;
  font-size: 12px;
  line-height: 25px;
  padding: 0 4px 8px 0 !important;
  width: auto !important;
  vertical-align: top;
}
.fields-gallery .fields-gallery-side-data .fields-label label,
.fields-gallery .fields-gallery-side-data th.label label {
  font-weight: normal;
}
.fields-gallery .fields-gallery-side-data .fields-input,
.fields-gallery .fields-gallery-side-data td.field {
  padding: 0 0 8px !important;
}
.fields-gallery .fields-gallery-side-data textarea {
  min-height: 0;
  height: 60px;
}
.fields-gallery .fields-gallery-side-data p.help {
  font-size: 12px;
}
.fields-gallery .fields-gallery-side-data p.help:hover {
  font-weight: normal;
}
/* selected */
.attachment.fields-selected {
  box-shadow: 0 0 0 3px #fff inset, 0 0 0 7px #1e8cbe inset !important;
}
.attachment.fields-selected .check {
  display: none !important;
}
/* column widths */
.fields-gallery[data-columns="1"] .fields-gallery-attachment {
  width: 100%;
}
.fields-gallery[data-columns="2"] .fields-gallery-attachment {
  width: 50%;
}
.fields-gallery[data-columns="3"] .fields-gallery-attachment {
  width: 33.333%;
}
.fields-gallery[data-columns="4"] .fields-gallery-attachment {
  width: 25%;
}
.fields-gallery[data-columns="5"] .fields-gallery-attachment {
  width: 20%;
}
.fields-gallery[data-columns="6"] .fields-gallery-attachment {
  width: 16.666%;
}
.fields-gallery[data-columns="7"] .fields-gallery-attachment {
  width: 14.285%;
}
.fields-gallery[data-columns="8"] .fields-gallery-attachment {
  width: 12.5%;
}
/* column widths clear */
.fields-gallery[data-columns="2"] .fields-gallery-attachment:nth-child(2n+1) {
  clear: both;
}
.fields-gallery[data-columns="3"] .fields-gallery-attachment:nth-child(3n+1) {
  clear: both;
}
.fields-gallery[data-columns="4"] .fields-gallery-attachment:nth-child(4n+1) {
  clear: both;
}
.fields-gallery[data-columns="5"] .fields-gallery-attachment:nth-child(5n+1) {
  clear: both;
}
.fields-gallery[data-columns="6"] .fields-gallery-attachment:nth-child(6n+1) {
  clear: both;
}
.fields-gallery[data-columns="7"] .fields-gallery-attachment:nth-child(7n+1) {
  clear: both;
}
.fields-gallery[data-columns="8"] .fields-gallery-attachment:nth-child(8n+1) {
  clear: both;
}
/* resizable */
.fields-gallery .ui-resizable-handle {
  display: block;
  position: absolute;
}
.fields-gallery .ui-resizable-s {
  bottom: -5px;
  cursor: ns-resize;
  height: 7px;
  left: 0;
  width: 100%;
}
/* rtl */
html[dir="rtl"] .fields-gallery-attachment {
  float: right;
}
html[dir="rtl"] .fields-gallery .fields-gallery-side-info img {
  float: right;
  margin: 0 0 0 10px;
}
